body {
  height: 100%;
  background-color: lightgrey;
}

h2, h3, p {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin: 0;
  font-size: 4vw;
  font-family: 'Pacifico', sans-serif;
  font-weight: lighter;
}

h2 {
  margin: 0;
  font-size: 2vw;
}

h3 {
  margin: 0;
  font-size: 1.5vw;
}

ul {
  margin: 0;
  padding: 1vw;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 1.25vw;
  list-style-type: none;
}

.centre {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#resume {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

#topBar {
  width: 100%;
  height: 7vw;
  background-color: lightgrey;
  top: 0;
  position: fixed;
  z-index: 0;
}

#topSpace {
  height: 8vw;
}

#name {
  position: relative;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #ff0000;
}

#name2 {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50.5%, -45%);
  margin: 0;
  color: #a00000;
}

.logo {
  position: relative;
  display: inline-block;
  float: right;
  width: 5vw;
  height: 5vw;
  margin-right: 1vw;
  top: 1vw;
}

.logo:hover {
  filter: invert(100%);
}

#profilePicture {
  border-radius: 2.5vw;
}

#profilePicture:hover {
  filter: invert(0%);
}

.panel {
  margin-top: 1vw;
  border-radius: 1vw;
  background-color: #ff0000;
  display: inline-block;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  padding: 1vw;
  border: none;
  border-left: 0.5vw #a00000 solid;
  border-bottom: 0.5vw #a00000 solid;
}

.panel:active {
  border: none;
  border-left: 0.2vw #a00000 solid;
  border-bottom: 0.2vw #a00000 solid;
  transform: translate(-0.3vw, 0.3vw);
  margin-right: 0.8vw;
}

.panel:focus {
  outline: none;
}

.panelBox {
  width: 45vw;
  margin-left: 27.5vw;
}

.panelText {
  text-align: center;
  font-size: 1.5vw;
  color: white;
}

.panelExpansionConnecter {
  height: 1vw;
}

.panelExpansion {
  height: 12vw;
  background-color: white;
  border-radius: 1vw;
  overflow: hidden;
  margin-bottom: 1vw;
}

.panelExpansionContent {
  width: calc(100% - 2vw);
  height: calc(100% - 2vw);
  padding: 1vw;
  overflow-y: scroll;
}

.contactMenuShell {
  position: absolute;
  right: -4.5vw;
  top: 7vw;
  width: 20vw;
  height: 11vw;
  transform: translate(-50%, 0);
  z-index: -1;
}

.contactMenu {
  position: relative;
  width: 20vw;
  height: 5vw;
  top: 1vw;
  background-color: white;
  z-index: -1;
}

.contactMenuArrow {
  position: absolute;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-bottom: 1vw solid white;
  transform: translate(-50%, 0);
  left: 50%;
  z-index: -1;
}

#paperClip {
  width: 3vw;
  position: absolute;
  filter: invert(100%);
}

.header {
  width: 45vw;
  margin-left: 28.5vw;
}

#copiedNotification {
  position: fixed;
  background-color: grey;
  left: 0;
  bottom: 0;
  padding: 1vw;
}

/*Transitions*/
.resume-appear {
  opacity: 0.01;
  transform: translate(-150%, -50%);
}

.resume-appear.resume-appear-active {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 2000ms ease, transform 1500ms ease;
}

.contactMenu-enter {
  transform: translate(-50%, -100%);
}

.contactMenu-enter.contactMenu-enter-active {
  transform: translate(-50%, 0);
  transition: transform 250ms ease;
}

.contactMenu-leave {
  transform: translate(-50%, 0%);
}

.contactMenu-leave.contactMenu-leave-active {
  transform: translate(-50%, -100%);
  transition: transform 250ms ease;
}

.copiedNotification-enter {
  transform: translate(-100%, 0%);
}

.copiedNotification-enter.copiedNotification-enter-active {
  transform: translate(0%, 0%);
  transition: transform 250ms ease;
}

.copiedNotification-leave {
  transform: translate(0%, 0%);
}

.copiedNotification-leave.copiedNotification-leave-active {
  transform: translate(-100%, 0%);
  transition: transform 250ms ease;
}

.panelExpansion-enter {
  height: 0vw;
  margin-bottom: 0;
}

.panelExpansion-enter.panelExpansion-enter-active {
  height: 12vw;
  margin-bottom: 1vw;
  transition: height 250ms ease, margin-bottom 250ms ease;
}

.panelExpansion-leave {
  margin-bottom: 1vw;
  height: 12vw;
}

.panelExpansion-leave.panelExpansion-leave-active {
  height: 0vw;
  margin-bottom: 0;
  transition: height 250ms ease, margin-bottom 250ms ease;
}

#mobileEmail {
  background-color: white;
  padding: 2.5vw;
  padding-left: 7vw;
  width: 100%;
  margin-bottom: 2vw;
  display: none;
}

@media screen and (max-width: 960px) {

  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 4vw;
  }

  h3 {
    font-size: 3vw;
  }

  ul {
    font-size: 2.5vw;
  }

  #name {
    left: 2vw;
    transform: translate(0%, -50%);
  }

  #name2 {
    left: 2vw;
    transform: translate(-0.5%, -45%);
  }

  #topBar {
    width: 100%;
    height: 15vw;
  }

  #topSpace {
    height: 18vw;
  }

  .logo {
    width: 10vw;
    height: 10vw;
    top: 2.5vw;
    margin-right: 2vw;
  }

  .header {
    width: 90vw;
    margin-left: 7vw;
  }

  .panelBox {
    width: 90vw;
    margin-left: 5vw;
  }

  .panel {
    margin-top: 2vw;
    border-radius: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 2vw;
    border-left: 1vw #a00000 solid;
    border-bottom: 1vw #a00000 solid;
  }

  .panel:active {
    border-left: 0.4vw #a00000 solid;
    border-bottom: 0.4vw #a00000 solid;
    transform: translate(-0.6vw, 0.6vw);
    margin-right: 1.6vw;
  }

  .panelBox {
    width: 90vw;
    margin-left: 5vw;
  }

  .panelText {
    font-size: 3vw;
  }

  .panelExpansionConnecter {
    height: 2vw;
  }

  .panelExpansion {
    height: 24vw;
    border-radius: 2vw;
    margin-bottom: 2vw;
  }

  .panelExpansionContent {
    width: calc(100% - 4vw);
    height: calc(100% - 4vw);
    padding: 2vw;
  }

  #profilePicture {
    visibility: hidden;
  }

  .contactMenuShell {
    visibility: hidden;
  }

  .contactMenu {
    visibility: hidden;
  }

  .contactMenuArrow {
    visibility: hidden;
  }

  #mobileEmail {
    display: block;
  }

  .panelExpansion-enter {
    height: 0vw;
    margin-bottom: 0;
  }

  .panelExpansion-enter.panelExpansion-enter-active {
    height: 24vw;
    margin-bottom: 2vw;
    transition: height 250ms ease, margin-bottom 250ms ease;
  }

  .panelExpansion-leave {
    margin-bottom: 2vw;
    height: 24vw;
  }

  .panelExpansion-leave.panelExpansion-leave-active {
    height: 0vw;
    margin-bottom: 0;
    transition: height 250ms ease, margin-bottom 250ms ease;
  }  
}

















